image:
  repository: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/dev-ecr
  tag: fe4b380bc730edb01f2b48397e21d5102fc9e2cd
  pullPolicy: Always

# How many pods?
replicaCount: 2

# Resource allocation
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

# Service (how to access)
service:
  type: LoadBalancer
  port: 80
  targetPort: 80
