name: Infrastructure Pipeline Setup

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Init and Plan
        working-directory: terraform/modules/environments/dev
        run: terraform init -backend-config="region=${{ secrets.AWS_REGION }}" && terraform plan -var="aws_region=${{ secrets.AWS_REGION }}"

  deploy-staging:
    runs-on: ubuntu-latest
    needs: deploy-dev
    environment: Staging
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ARN_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Init and Plan
        working-directory: terraform/modules/environments/staging
        run: terraform init -backend-config="region=${{ secrets.AWS_REGION }}" && terraform plan -var="aws_region=${{ secrets.AWS_REGION }}"